<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>

<div class="container">
    <ul>
        <li>
            <error th:if="${param.error}">
                <H2>Invalid username or password.</H2>
            </error>
            <logout th:if="${param.logout}">
                <H2>You have been logged out.</H2>
            </logout>
        </li>
        <li>
            <form th:action="@{/login}" method="post">
            </form>
            <form th:action="@{/login}" method="post">
                <div>
                    <label> User Name :
                        <input type="text" name="username"/>
                    </label>
                </div>
                <div>
                    <label> Password:
                        <input type="password" name="password"/>
                    </label>
                </div>
                <div>
                    <button class="btn" type="submit" value="Sign In">Sign in</button>
                </div>
            </form>
        </li>
    </ul>
</div>
</body>
</html>